@import "./application.scss";
@import "./light.scss";
@import "./dark.scss";

@media (prefers-color-scheme: no-preference) {
  body {
    background-color: var(--bg-light)
  }

  button, .button {
    color: var(--dark);
    background-color: var(--button-light);
    border-color: var(--light);
  }

  .title {
    color: var(--title)
  }

  .main-title {
    color: var(--dark)
  }

  .subtitle {
    color: var(--subtitle-light);
    font-weight: 200;
  }
}

.is-centered {
  margin: 0 auto;
  display: block;
}

.page-wrapper:before, .page-wrapper:after {
  left: 0;
  right: 0;
  content: '';
  height: 35vh;
  position: absolute;
}

.page-wrapper:before {
  background-color: white
}

#news_content {
  text-align: left;
}
